<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Thêm bệnh nhân</title>
</head>
<body>
<div class="container">
    <h2>Thêm bệnh nhân</h2>
    <p style="font-size: 40px; color: black">Điền thông tin y tá để sửa</p>
    <form method="post" th:action="@{/benhnhan/saveEdit}" th:object="${benhnhan}">
        <input type="hidden" th:field="*{id}">
        <div >
            <label>Tên:</label>
            <input type="text" class="form-control" th:field="*{ten}">
        </div>
        <div class="form-group">
            <label>Ngày sinh:</label>
            <input type="text" class="form-control" th:field="*{ngaySinh}"/>
        </div>
        <div class="form-group">
            <label>Địa chỉ:</label>
            <input type="text" class="form-control" th:field="*{diaChi}"/>
        </div>
        <div class="form-group">
            <label>Số điện thoại:</label>
            <input type="text" class="form-control" th:field="*{sdt}"/>
        </div>

        <button type="submit" class="btn btn-success">Lưu bệnh nhân</button>
    </form>
</div>

</body>
</html>