<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Edit Thuốc</title>
</head>
<body>
<div class="container">
    <h2>Thêm Thuốc</h2>
    <p style="font-size: 40px; color: black">Điền thông tin thuốc để sửa</p>

    <form method="post" th:action="@{/thuoc/saveEdit}" th:object="${thuoc}">
        <input type="hidden" th:field="*{id}">

        <div >
            <label>Giá:</label>
            <input type="text" class="form-control" th:field="*{gia}">
        </div>

        <div class="form-group">
            <label>Tên Thuốc:</label>
            <input type="text" class="form-control" th:field="*{ten}"/>
        </div>

        <div >
            <label>Công dụng:</label>
            <input type="text" class="form-control" th:field="*{congDung}">
        </div>

        <div class="form-group">
            <label>Loại Thuốc:</label>
            <input type="text" class="form-control" th:field="*{loaiThuoc}"/>
        </div>
        <button type="submit" class="btn btn-success">Lưu Thuoc</button>
    </form>


</div>

</body>
</html>