<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <meta charset="UTF-8">
    <title>Thống kê</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://localhost/weblayout/tablestyle.css">
</head>

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 15px;
    }

</style>
<body>
<h2>Thống kê bệnh</h2>
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Nhập tháng năm để thống kê bệnh</h3>
                </div>
                <div class="col-sm-6">
                    <a th:href="@{/}" class="btn btn-info"><i class='bx bx-home'></i><span>Home</span></a>
                </div>
            </div>
        </div>
        <form th:action="@{/tk/benh/search}" method="get">
            <div class="row">
                <div class="col-xs-6 col-md-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="YYYY-MM" id="txtSearch" name="keyword" th:value="${keyword}"/>
                        <div class="input-group-btn">
                            <button  class="btn btn-success" type="submit" >
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Tên bệnh</th>
                <th>Số lần mắc</th>
                <th>Số lần</th>
                <th> Action </th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="soLan : ${listSoLan}">
                    <td th:text="${soLan.ten}"></td>
                    <td th:text="${soLan.soLanMac}"></td>
                    <td th:text="${soLan.soLan}"></td>
                    <td>
                        <a th:href="@{/tk/benh/result(id=${soLan.id}, keyword=${keyword})}"> Detail </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>