<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Quản lí bệnh viện</title>
</head>
<body>
<div class="big__container" >
    <div class="container">
        <ul class = "root">
            <li><a href="">Liên hệ</a></li>

            <li>
                <a href="">Tính lương</a>
                <ul class = "sub">
                    <li><a href="/tinhluong/bacsy">Bác sĩ</a></li>
                    <li><a href="/tinhluong/yta">Y tá</a></li>
                </ul>
            </li>
            <li>
                <a href="">Xem thống kê</a>
                <ul class = "sub">
                    <li><a href="/tk/benh">Thống kê bệnh</a></li>
                </ul>
            </li>
            <li>
                <a href="">Quản lí phòng khám</a>
                <ul class = "sub">
                    <li><a href="/bacsi/current">Quản lí bác sĩ</a></li>
                    <li><a href="/yta/current">Quản lí y tá</a></li>
                    <li><a href="/thuoc/current">Quản lí thuốc</a></li>
                    <li><a href="/kham">Quản lí khám</a></li>
                    <li><a href="/benhnhan/current">Quản lí bệnh nhân</a></li>
                    <li><a href="/benh/current">Quản lí bệnh</a></li>
                </ul>
            </li>
            <li><a href="">Trang chủ</a></li>
        </ul>

    </div>
    <div class="image">
        <img src="https://cdn.wallpapersafari.com/46/70/fjGlXJ.jpg" alt="">
    </div>




</div>
<footer class="footer">
    <div class="container__footer">
        <div class="row">
            <div class="footer-col">
                <h4>Bệnh viện</h4>
                <ul>
                    <li><a href="">Thông tin về bệnh viện</a></li>
                    <li><a href="">Thành tích đạt được</a></li>
                    <li><a href="">Lịch sử thành lập</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Trợ giúp</h4>
                <ul>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Hotline</a></li>
                    <li><a href="">Báo cáo</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Mạng xã hội</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>

        </div>
    </div>
</footer>
</body>
</html>