<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Edit Bệnh</title>
</head>
<body>
<div class="container">
    <h2>Thêm Bệnh</h2>
    <p style="font-size: 40px; color: black">Điền thông tin bệnh để sửa</p>

    <form method="post" th:action="@{/benh/saveEdit}" th:object="${benh}">
        <input type="hidden" th:field="*{id}">

        <div >
            <label>Tên</label>
            <input type="text" class="form-control" th:field="*{ten}">
        </div>

        <div class="form-group">
            <label>Mô Tả:</label>
            <input type="text" class="form-control" th:field="*{moTa}"/>
        </div>


        <button type="submit" class="btn btn-success">Lưu Bệnh</button>
    </form>


</div>

</body>
</html>